

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box
}
h2{ 
    color: #80eb39;
    font-style: italic;
    
}


body{
    background-color: #032b64;
}
/* Container */
.container{
    display: flex;
        justify-content: center;
    height: 500px;
    width: 90%;
    /*border: 1px solid black;*/

    margin: auto;
    margin-top: 50px;
    box-shadow: 10px 20px #80eb39;
    border-radius: 4%;
    
}
/* Login Form*/
.form{
    display: flex;
    
    flex-direction: column;
    width: 100%;
    align-items: center;
    background-color: rgb(11, 127, 244);
    border-radius: 2%;
}
.form h2{
    font-size: 3rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 40px;
    

}
.box{
    padding: 12px;
    width: 65%;
    margin: 15px;
    border: 1px solid black;
    outline: none;
    border-radius: 20px;
}
#submit{
    padding: 12px 30px;
    
    margin-top: 40px;
    background-color: black;
    color: white;
    font-weight: bold;
    border: 1px solid black;
    outline: none;
    border-radius: 20px;

}
#submit:hover{
    cursor: pointer;
    background-color: #80eb39;

}
.form{
    text-decoration: none;
    color: black;
    margin-top: 20px;
    
}
.form a:hover{
    color: #80eb39;
}
/*Right Side*/
.side{
    display: flex;
    justify-content: center;
    align-items: center;
    width:50%;
    background-color: #750000;
}
.side img{
    width: 450px;
    height: 450px;
}